h1 {
	margin: 0px;
	font-family: 'Lobster', cursive;
	font-size: 3em;
	text-align: center;
}

h3 {
	margin: 5px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFF5;
}

#loading {	
	position:fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; 
    margin-left: -15em; 
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    z-index: 5;
}

#loading-image { position: absolute; top: 40%; left: 45%; z-index: 100} 

#main {
    display: flex;
    justify-content: center;
}

.thumb {
	margin: 5px;
}

#content {
    width: 95%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#divSlider {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#divCreate {
    width: 10%;
}

#slider {
    width: 50%;
}

#slider-range-value {
    margin-left: 20px;
}

#firstRow {
    display: flex;
    width: 100%;
    border: 3px solid #ccc;
}

#secondRow {
    margin-top: 15px;
    padding: 20px;
    border: 3px solid #ccc;
    width: 95%;
}

#inputGif {
    width: 1%;
}

#preview {
    width: 80%;
}

#divModifyGif {
    display: flex;
    /*justify-content: center;*/
    width: 100%;
}

#divControlsPlay {
    margin: 7px;
}

#inputDiv {
    width: 40%;
}

.inputImageStyle {
    max-height: 90%;
    max-width: 50%;
    margin: 10px;
}

.buttonScale {
	width: 10%;
}

.btnCreate {
    margin-top: 50px;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #5BC5E8; 
    color: white;
}
